<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title | escape }}</title>
    <meta name="description" content="Sunbeam metagenomics analysis pipeline">
    <link rel="stylesheet" href="css/main.css">
    <link rel="canonical" href="http://sunbeam-labs.org">
  </head>
  <body>

    <header class="site-header" role="banner">
      <div class="wrapper">
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title | escape }}</a>
      </div>
    </header>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

  </body>
</html>
